$colors: (
    bluee: #00214E,
    yelloww: rgba(240, 189, 30, 0.9),
    clearGray: #f3f3f3
);

.mini-loading {
    width: 17px;
    height: 17px;
    border: solid 2px var(--white);  
    border-top: solid 2px var(--niceBlue);   
    border-right: solid 2px var(--niceBlue); 
    border-radius: 50%;
    animation: spin 0.4s linear infinite;
    -webkit-animation: spin 0.4s linear infinite;
    -moz-animation: spin 0.4s linear infinite;

    display: inline-block;
    margin-left: 10px;
    margin-right: 11px;
    margin-top: 1px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}