<section class="highlight" [ngClass]="{'u-hide' : !slide.isActive}"
    [ngStyle]="{'background-image' : 'url(' + assets_path + slide.image + ')'}" *ngFor="let slide of slides">
    <div class="row hightlight-slide">
        <div class="col-md-7 col-xs-12">
            <h1 class="u-normal">{{ slide.title }}</h1>
            <h3 class="u-lighter">{{ slide.subtitle }}</h3>
        </div>
    </div>
</section>

<!-- Setas de Navegação-->
<div class="row">
    <div class="col-xs-12">
        <ul class="slide-navigation">
            <li *ngFor="let slide of slides"
                [ngClass]="{'active-slide-navigation' : slide.isActive, 'slide-navigation-action': true }"
                [id]="slide.id" (click)="changeSlideByClicking(slide.id)"></li>
        </ul>
    </div>
</div>