<section id="highlight">
    <div class="row">
        <div class="col-md-7 col-xs-12">
            <h1>Design Patterns #6: Abstract Factory</h1>
            <h3>
                Caindo na categoria de Padrões Criacionais o poderoso Abstract Factory é uma ferramenta muito útil para
                ajudar
                na portabilidade.
            </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <ul class="slide-navigation">
                <li class="slide-navigation-action"></li>
                <li class="slide-navigation-action"></li>
                <li class="slide-navigation-action"></li>
            </ul>
        </div>
    </div>
</section>