<section id="articles">
    <h3>Últimos Artigos</h3>
    <h5>Acompanhe nossas publicações com contéudo acadêmico e profissional</h5>

    <!-- Último Artigo Publicado na seção de destaque-->
    <div class="row container-articles">
        <div class="col-md-7 col-xs-12 u-padding-left-zero">
            <div>
                <img [src]="articles[0].image" class="articles-feature" /> <br />
                <div class="articles-text-group">
                    <span class="articles-title">{{ selectedArticle.title }}</span> <br />
                        <span class="articles-info">{{ selectedArticle.author }} &nbsp; | &nbsp; {{ selectedArticle.publishedDate }} </span> <br />
                    <p class="articles-preview">
                        {{ selectedArticle.preview }}
                    </p>
                    <a href="" class="articles-read-more">LEIA MAIS</a>
                </div>
            </div>
        </div>

        <!-- Lista de Artigos Laterais -->
        <div class="col-md-5 col-xs-12 articles-side-container">
            <div *ngFor="let article of articles">
                <div class="row articles-side-group" >
                    <div class="col-xs-12 articles-side-group-col">
                        <span class="articles-side-title">{{ article.title }} </span> <br />
                        <span class="articles-side-info">{{ article.author }} &nbsp; | &nbsp; {{ article.publishedDate }} </span> <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>