.articles-container {
  @media only screen and (max-width: 1279px) {
    padding-right: 0px;

    .col-lg-6 {
      padding-right: 0;
    }
  }

  ul {
    @media only screen and (max-width: 1279px) {
      padding: 0;
    }

    li {
      @media only screen and (max-width: 1279px) {
        padding-left: 0px;
        padding-right: 0px;
      }
      list-style-type: none;
      padding-left: 70px;
      padding-right: 30px;

      div.col-lg-6 {
        @media only screen and (max-width: 1279px) {
         width: 100%;
        }

        width: 45%;
        margin-right: 30px;
      }

      div.col-lg-6:nth-child(even) {
        margin-right: 30px;
      }

      img {
        height: 240px;
        width: 100%;

        @media only screen and (max-width: 1279px) {
          width: 100%;
        }

        @media only screen and (max-width: 1279px) and (orientation: landscape) {
          width: 100%;
          height: auto;
        }
      }

      h5 {
        font-size: 26px;
        font-weight: bold;
        height: auto;
        min-height: 60px;
      }
      span {
        font-size: 16px;
      }

      p {
        margin-top: 10px;
        font-size: 18px;
        height: auto;
        margin-bottom: 20px;
      }
      button {
        background-color: transparent;
        box-shadow: none;
        border: none;
        border-radius: 3px;
        padding-left: 0px;
        color: var(--niceGreen);
        transition: 0.6s ease-out;
        font-weight: bold;
        font-size: 16px;
      }

      button:hover {
        transition: 0.5s;
        color: var(--green);
      }

      button:focus {
        outline: none;
      }

      svg {
        font-size: 11px;
      }
    }
  }
}

.aside-container {
  background: var(--silver2);
  top: -89px;
  right: 0;
  min-height: 2293px;
  position: absolute;

  aside {
    .aside-category:first-child {
      margin-top: 0;
    }
    .aside-category {
      margin-top: 30px;
    }

    min-height: 800px;
    padding: 40px;
    color: var(--dark);
    padding-top: 50px;
    padding-right: 20px;
    padding-left: 20px;

    h5 {
      font-size: 18px;
    }

    ul {
      padding-left: 0;
      li:first-child {
        margin-top: 15px;
      }

      li {
        list-style-type: none;
        margin-bottom: 10px;
        color: var(--niceGreen);
        font-size: 14px;
        transition: .5s ease-out;
      }
      li:hover {
        transition: .4s;
        color: var(--green);
        cursor: pointer;
      }
    }

    .form-control {
      width: 86%;
    }

    .form-control:focus {
      border: solid 1px var(--green);
    }

    button {
      width: 86%;
      margin-top: 15px;
      height: 30px;
      background: var(--niceGreen);
      color: var(--white);
      border: solid 1px var(--niceGreen);
      border-radius: 4px;
      transition: .5s ease-out;
      box-shadow: 1px 1px 6px var(--shadow);
    }

    button:hover {
      color: var(--green);
    }

    button:focus, button:active {
      outline: none;
    }
  }
}
