.articles-container {
  height: auto;
  @media only screen and (max-width: 1279px) {
    padding-right: 0px;

    .col-lg-6 {
      padding-right: 0;
    }
  }

  ul {
    @media only screen and (max-width: 1279px) {
      padding: 0;
    }

    li {
      @media only screen and (max-width: 1279px) {
        padding-left: 0px;
        padding-right: 0px;
      }
      list-style-type: none;
      padding-left: 70px;
      padding-right: 30px;

      div.col-lg-6 {
        @media only screen and (max-width: 1279px) {
         width: 100%;
        }

        width: 45%;
        margin-right: 30px;
      }

      div.col-lg-6:nth-child(even) {
        margin-right: 30px;
      }

      img {
        height: 312px;
        width: 100%;

        @media only screen and (max-width: 1279px) {
          width: 100%;
        }

        @media only screen and (max-width: 1279px) and (orientation: landscape) {
          width: 100%;
          height: auto;
        }
      }

      h5 {
        font-size: var(--h5);
        font-weight: bold;
        height: auto;
        min-height: 60px;
      }
      span {
        font-size: 16px;
      }

      p {
        margin-top: 10px;
        font-size: var(--notTooBig);
        height: auto;
        margin-bottom: 20px;
      }
      button {
        background-color: transparent;
        box-shadow: none;
        border: none;
        border-radius: 3px;
        padding-left: 0px;
        color: var(--niceGreen);
        transition: 0.6s ease-out;
        font-weight: bold;
        font-size: var(--notTooBig);
      }

      button:hover {
        transition: 0.5s;
        color: var(--green);
      }

      button:focus {
        outline: none;
      }

      svg {
        font-size: 11px;
      }
    }
  }
}

