<div class="row article-post-container" [ngStyle]="{'margin-bottom' : '100px'}">
  <div class="col-lg-4 col-xs-12 articles-container" *ngFor="let post of posts" [id]="post.id"
    [ngStyle]="{'margin-top' : '30px'}" #meupost (click)="open(post)">
    <img [src]="post.thumbnail" class="lds-facebook" />
    <div class="article-container-info">   
      <h4>{{ post.titulo }}</h4>

      <div class="social-interaction-container">
        <div class="u-inline social-icons-group">
          <i class="fas fa-comment"></i> &nbsp;
          <span>{{ 1 + 1 }}</span>
        </div>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <div class="u-inline social-icons-group">
          <i class="fas fa-thumbs-up"></i>&nbsp;
          <span>{{ post.numeroLikes }}</span>
        </div>
      </div>

      <p [innerHTML]="post.descricao.length > 100 ? post.descricao.substring(0, 99) + '...' : post.descricao" class="hide-on-small-only"></p>
     
    </div>
    <!-- <div class="row">
      <div class="col-xs-12">
        <button class="u-no-click" type="button" class="btn-leia-mais" (click)="open(post)">Leia mais
          <i class="fas fa-chevron-right"></i>
        </button>
      </div>
    </div> -->
    <div class="lightstyle col-lg-4 col-xs-12"></div>
  </div>

</div>