header {
  padding-left: 120px;
  padding-right: 120px;
  border-bottom: solid 2px var(--white);
  box-shadow: 1px 5px 1px var(--clearGray);
  height: 60px;

  h3 {
    padding-left: 30px;
    margin-top: 15px;
  }
  h3:hover {
      cursor: pointer;
  }
  nav {
    padding: 20px;
    padding-right: 50px;
    ul {
      li {
        display: inline;
        margin-right: 10px;
        margin-left: 10px;
      }

      li:hover {
        cursor: pointer;
      }
    }
  }
}

.flex-container {
  display: flex;
  flex-direction: row-reverse;
}

