<header>
    <div class="row">
        <div class="col-xs-6">
            <h3 class="u-bold" (click)="router.navigate(['/'])">Luã Falcão</h3>
        </div>
        <div class="col-xs-6">
            <nav>
                <ul class="flex-container">

                    <li> <i class="material-icons header-icon" (click)="openContainer()" id="pesquisar">
                            search
                        </i>
                    </li>
                  
                </ul>
            </nav>
        </div>
    </div>
</header>
<app-search-field></app-search-field>