<app-header></app-header>
<div class="render-body-area" (scroll)="onScroll($event)">
    <section class="personal-title">
        <h1><span class="u-bold">Luã Falcão</span> </h1>
        <h1>
            {{ nome }}<blink></blink>
        </h1>

     
        <div class="row">
            <div class="col-xs-12 u-center">
                <span class="material-icons anima-upAndDown u-pointer" (click)="scrollInto('timeLineSection')">
                    keyboard_arrow_down
                </span>
            </div>
        </div>
    </section>

    <span id="timeLineSection"></span>
    <section class="timeline-container">
        <h1>linha do tempo da minha carreira</h1>
        
        <div class="row timeline-style-ui">
            <div class="col-xs-12 col-lg-4 nice-border"></div>
            <div class="col-xs-12 col-lg-4 u-center nice-text-ui">anos</div>
            <div class="col-xs-12 col-lg-4 nice-border"></div>
        </div>

        <div *ngFor="let timeline of timelines">
            <timeline [timeline]="timeline"></timeline>     
        </div>
    </section>
    
</div>
<app-footer></app-footer>