
.main-section {
  min-height: 900px;
  height: auto;
  margin-top: 70px;
  background-color: var(--ice);
  top: -11px;

  @media only screen and (max-width: 1279px) {
    padding-top: 0;
    margin-top: 0;
    top: -64px;
  }
}

.personal-title {
  top: -161px;
  position: relative;
  padding-top: 123px;
  background-image: url("../../assets/backgrounds/kratos.jpg");
  background-size: cover;
  height: 700px;
  @media (max-width: 1281px) {
    height: 717px;
  }
  color: var(--white);

  @media only screen and (max-width: 1279px) {
    height: 618px;
    .personal-title-headers {
      margin-top: 70px;
    }
    padding-top: 180px;
    top: -161px;
  }

  h1 {
    font-size: 52px;
    padding-left: 130px;

    @media (max-width: 1024px) {
      padding-left: 25px !important;
      font-size: 37px;
    }
  }

  h2 {
    font-size: 52px;
    padding-left: 130px;

    @media only screen and (max-width: 1024px) {
      padding-left: 25px !important;
      font-size: 23px;
    }
  }

  .material-icons {
    position: relative;
    font-size: 42px;
    top: 230px;
    color: var(--white);
    margin: 0 auto;
    left: 47%;

    @media only screen and (max-width: 1279px) {
      top: 50px;
      left: 44%;
    }

    @media only screen and (max-width: 1279px) and (orientation: landscape) {
      left: 47%;
    }
  }

  .anima-upAndDown {
    animation-name: upAndDown;
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
  }

  @media only screen and (max-width: 1279px) {
    @keyframes upAndDown {
      from {
        top: 30px;
      }

      to {
        margin-top: 50px;
      }
    }
  }

  @media only screen and (min-width: 1280px) {
    @keyframes upAndDown {
      from {
        top: 200px;
      }

      to {
        margin-top: 230px;
      }
    }
  }

  .pause {
    animation-play-state: pause;
  }
}

.timeline-container {
  min-height: 700px;
  padding-bottom: 60px;
  position: relative;
  margin-top: -110px;

  h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;

    @media only screen and (max-width: 1279px) {
      padding: 15px;
      font-size: 22px;
      padding-bottom: 0;
    }
  }

  .nice-border {
    border-bottom: solid 4px var(--niceGray);
  }

  .timeline-style-ui {
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 30px;
  }

  .nice-text-ui {
    margin-top: -15px;
    margin-bottom: 40px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
  }
}

#timelineList {
  padding-left: 0;
}

#timelineList li {
  list-style-type: none;
}

.btn-download {
  height: 50px;
  width: 370px;
  color: var(--white);
  transition: 0.4s ease-out;
  background: var(--niceGreen);
  box-shadow: 2px 5px 5px #999;
  padding-top: 12px;
  font-size: 18px;

  @media only screen and (max-width: 767px) {
    width: 100%;
  }
}

.btn-download:hover {
  color: var(--green);
  transition: 0.3s;
}

.btn-download:focus {
  outline: none;
}

.download-container {
  padding-left: 30px;
}
