<div class="main-section" (scroll)="onScroll($event)">
  <section class="personal-title">
    <div class="row personal-title-headers">
      <div class="col-xs-12">
        <h1><span>Luã Falcão</span> </h1>
        <h2>
          <writer [color]='colorWriter' [titulos]="titulos" [fontSize]="h1Size" align="left"></writer>
        </h2>
      </div>
    </div>

    <div class="material-icons anima-upAndDown u-pointer u-inline" (click)="scrollInto('timeLineSection')">
      keyboard_arrow_down
    </div>
  </section>
  <section id="timeLineSection" class="timeline-container">
    <div class="row timeline-style-ui hide-on-small-only ">
      <div class="col-xs-12 col-lg-4 nice-border"></div>
      <div class="col-xs-12 col-lg-4 u-center nice-text-ui"></div>
      <div class="col-xs-12 col-lg-4 nice-border"></div>
    </div>

    <ul id="timelineList">
      <li *ngFor="let timeline of timelines">
        <timeline [timeline]="timeline"></timeline>
      </li>
    </ul>

    <div class="row">
      <div class="col-xs-12 u-center download-container">
        <a href="../../assets/pdf/Luã Falcão - Resumo.pdf" download class="btn btn-download">ver currículo</a>
      </div>
    </div>
  </section>
</div>
<page-loading class="page-loading"></page-loading>
