<div class="container-article-all-menu" *ngIf="isArticleMenuVisible">
    <ul>
        <li *ngFor="let article of articles" [id]="article.id" (click)="onClick(article.id)">
            <div class="row">
                <div class="col-xs-3">
                    <img [src]=article.image />
                </div>
                <div class="col-xs-8">
                    <h5>{{ article.title }}</h5>
                    <p>{{ article.date }}</p>
                </div>
            </div>
        </li>
    </ul>
</div>
