.container-article-all-menu {
  position: fixed;
  right: 147px;
  top: 100px;
  height: 400px;
  overflow-y: scroll;
  z-index: 2000;
  box-shadow: 4px 2px 2px var(--shadow);
  border: solid 1px var(--darking);
  border-left: none;
  background-color: var(--white);

  ul {
    padding-left: 0;

    li:first-child {
        border-top: solid 3px var(--darking);
    }

    li {
      list-style-type: none;
      background: var(--white);
      color: var(--dark);
      padding: 20px;
      border: solid 1px var(--darking);
      border-top: none;
      border-right: none;
      transition: ease-out .5s;

      h5 {
        margin-top: 0;
      }
    }

    li:hover {
      transition: .4s;
      background-color: var(--darking);
      color: var(--white);
      cursor: pointer;
    }

    li:last-child {
      border-bottom: none;
      padding-top: 30px;
    }
  }
}


::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--darking);
}

::-webkit-scrollbar-thumb {
  background: var(--niceBlue);
}

