<section class="article-commentarys" id="scrollToThere">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="caps u-text-left">Comente aqui:</h3>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12 col-lg-6 col-md-12 u-padding-right-zero">
      <div class="form-group form-group-comments">
        <label>Nome:</label> <br />
        <input [(ngModel)]="modelForm.name" name="name" placeholder="Qual é o seu nome?" maxlength="20"
          class="form-control" type="text">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-lg-6 col-md-12 u-padding-right-zero">
      <div class="form-group form-group-comments">
        <label>E-mail:</label> <br />
        <input [(ngModel)]="modelForm.email" name="name" placeholder="Se desejar pode inserir seu e-mail aqui" maxlength="20"
          class="form-control" type="text">
      </div>
    </div>
  </div>
  
  
  <div class="row">
    <div class="col-xs-12 col-lg-8 u-padding-right-zero">
      <div class="form-group form-group-comments">
        <label>Comentário:</label> <br />
        <textarea [(ngModel)]="modelForm.content" name="content" placeholder="O que você achou deste artigo?"
          class="form-control" rows="10" maxlength="300"></textarea>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12">
      <button id="btnSend" type="button" class="btn btn-white-black">
        <span id="btnSendText">Enviar</span>
        <!-- <app-smallloader id="smallLoader"></app-smallloader> -->
      </button>
    </div>
  </div>
  
  <div class="commentsContainer" id="talesCommentsContainer" [hidden]="numberOfComments <= 0">
    <div class="row">
      <div class="col-xs-12">
        <h3 class="caps">Todos os Comentários</h3>
      </div>
    </div>
  
    <div class="row">
      <div class="col-xs-12 col-lg-8 u-padding-right-zero">
        <div class="panel panel-default" *ngFor="let comment of comments">
          <div class="panel-heading" id={{comment.id}}>{{ comment.name }}</div>
          <div class="panel-body">
            <p>{{ comment.content }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>