section {
    padding: 40px;
    text-align: center;   
    
    h3 {
        @media (max-width: 767px) {
            padding-bottom: 30px;
        }

      
        font-weight: bold;
        text-transform: uppercase;
    }    


    img {
        width: 130px;
        margin-left: 40px;
        margin-right: 40px;
        filter: grayscale(100%);
        transition: ease-out 0.5s;
    }

    img:hover, img:active{
        transition: 0.4s;
        filter: grayscale(0%);
        cursor: pointer;
    }

    .small-image {
        width: 80px;
    }       

    .medium-image {
        width: 160px;
    }
}