.lua-tooltip {
  height: 25px;
  background-color: var(--white);
  box-shadow: 2px 2px 2px var(--shadow);
  opacity: .9;
  position: absolute;

  .lua-tooltip-group {
    text-align: center;
    padding-top: 5px;

    .lua-tooltip-text {
      font-size: 12px;
      color: var(--dark);
      text-align: center;
      min-width: 90px;
    }
  }
}




