<section class="main-section">
  <header>
    <div class="row">
      <div class="col-lg-12">
        <h1 [innerHTML]="blogName"> </h1>
        <i class="fas fa-code"></i> &nbsp; &nbsp; &nbsp;  &nbsp;  &nbsp;
        <i class="fas fa-laptop-code"></i> &nbsp; &nbsp; &nbsp;  &nbsp;  &nbsp;
        <i class="fas fa-coffee"></i>
      </div>
    </div>
  </header>
  <h6>Todos os artigos</h6>
  <article-post [posts]="posts" [featuredArticles]="featuredArticles"></article-post>
  <article-pagination [posts]="posts"></article-pagination>
</section>
<page-loading class="page-loading"></page-loading>
