<article-header></article-header>

<article class="article-container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Design Patterns and where to find them </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-2 col-lg-1 thumbnail-container">
            <img src="https://picsum.photos/100/100" class="thumbnail" />
        </div>
        <div class="col-xs-9 col-lg-9 u-left container-info-articles">
            <div class="container-article-info u-left">
                <span class="descricao-nome-autor">Luã Falcão</span> <br />
                <span class="data-publicacao">01 de Março de 2020</span>
            </div>
        </div>
    </div>

    <div class="row article-body">
        <div class="col-xs-12">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis lorem at tellus imperdiet iaculis.
                Nunc eget tincidunt neque. Integer finibus nulla viverra lectus varius volutpat. Donec elementum justo
                vel rhoncus mollis. Ut non erat eu nunc vulputate ornare. Ut aliquet massa vel pellentesque facilisis.
                Etiam mauris nunc, commodo eu odio id, commodo consequat ex. In convallis, dui nec euismod blandit, ex
                urna efficitur eros, eu rhoncus turpis ligula vitae ex. Nam tempus ex mauris, eu dignissim nulla egestas
                sit amet. Phasellus volutpat congue tempus. Sed interdum risus nec turpis congue, nec sagittis leo
                tristique. Cras commodo nulla at varius suscipit. Proin convallis et risus at tristique. Donec dictum
                elit ac lorem volutpat, non accumsan felis euismod.</p>

            <p>Quisque nec diam congue, sagittis nunc quis, laoreet diam. Sed nunc elit, sollicitudin quis purus ac,
                bibendum laoreet lacus. Ut vehicula tincidunt lorem ac vestibulum. Curabitur imperdiet luctus tellus,
                vitae dignissim neque aliquam eget. Suspendisse elementum, nunc sit amet volutpat finibus, dui velit
                cursus diam, ultrices dapibus mi nisl a elit. Sed efficitur augue vitae lacus dignissim, volutpat
                viverra dolor scelerisque. Pellentesque sed volutpat ipsum. Nunc convallis faucibus velit sed dapibus.
                Phasellus maximus massa vel molestie ullamcorper. Fusce auctor elit sit amet massa efficitur, vel
                fermentum arcu aliquam. In ut lacus orci.</p>

            <p>Integer sed tincidunt ante, ultrices porta ante. Phasellus posuere mattis finibus. Vestibulum in nulla in
                metus ullamcorper tempus a quis dolor. Duis arcu mi, blandit ut tempor in, dictum vitae urna. Vestibulum
                lacinia ultrices erat vitae congue. Cras ac eleifend orci, id facilisis dui. Fusce scelerisque lectus
                sed massa scelerisque tristique. In volutpat porttitor pellentesque. Aliquam scelerisque dolor eget
                suscipit placerat. Nullam dapibus sed turpis eu ullamcorper. In gravida egestas condimentum. In
                fringilla elit sem. Nulla facilisi. Curabitur tristique, purus ac lacinia efficitur, odio leo blandit
                ligula, a sagittis nibh diam sed justo.</p>

            <p>Cras faucibus purus nec cursus aliquet. Donec at iaculis sem. Maecenas rutrum rutrum leo. Vestibulum
                tincidunt, nisl vel dignissim pretium, arcu lectus pulvinar massa, tincidunt condimentum ligula lacus
                vitae risus. Aliquam tortor ipsum, congue at cursus at, varius non sem. Ut gravida placerat eros. Etiam
                sagittis a velit non aliquet. Donec sit amet tortor tristique, faucibus lectus eu, condimentum nisi.
                Morbi lobortis at est eget pretium. Integer sodales, dui sit amet condimentum faucibus, augue orci
                placerat quam, nec dapibus nisl ante eget est. Sed porttitor, tortor nec tincidunt consectetur, nisi
                dolor tempor justo, ac luctus tellus metus eget ante. Morbi eget urna dolor.</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed volutpat at ante pretium fringilla. Ut
                posuere, lacus at gravida finibus, ipsum urna aliquet nulla, vel porttitor felis elit eu arcu. Nullam
                nec diam porta, imperdiet metus pretium, finibus neque. Fusce ut turpis felis. Ut consequat pulvinar
                nunc, id lacinia ex vestibulum et. Duis eget aliquam ligula. Vivamus eu auctor dolor. Duis a nisl eget
                orci fermentum aliquam. Phasellus ut ex ut enim fermentum semper nec eu justo. Proin malesuada, velit id
                congue gravida, leo arcu cursus libero, eu molestie magna neque rhoncus ligula. Nullam eleifend erat
                libero. Sed et ex leo.</p>
        </div>
    </div>
</article>