<section class="main-section">
  <header>
  </header>
  <h6 *ngIf="!error">Todos os artigos</h6>
  <article-post [posts]="posts" (openUrl)="openUrl($event)"></article-post>
  <article-pagination *ngIf="!error" (paginar)="paginar($event)" (paginaInvalida)="paginaInvalida($event)" [count]="count"></article-pagination>
  <div class="row">
    <div class="col-xs-12 bbcolor">
      <message [details]="error"></message>
    </div>
  </div>
  <!-- <article-aside [featuredArticles]="featuredArticles"></article-aside> -->
</section>
<page-loading class="page-loading"></page-loading>
