.article-container {
    margin-left: 400px;
    margin-right: 400px;
    text-align: center;

    .thumbnail-container {
        
        padding-left: 40px;

        .thumbnail {
            border: dashed 2px var(--niceBlue);
            border-radius: 50%;
            height: 70px;
            width: 70px;
        }
    }
    
}