.article-container {
  @media only screen and (max-width: 1024px) {
    padding: 0 20px 0px 20px;
    margin: 0;
    margin-top: 60px;
  }
  

  margin: 70px 400px 0px 400px;


  .thumbnail-container {
    .thumbnail {
      border: dashed 2px var(--niceBlue);
      border-radius: 50%;
      height: 70px;
      width: 70px;
    }
  }

  h1 {
    margin-bottom: 20px;
    text-align: left;
  }

  .descricao-nome-autor {
  

    @media (max-width: 767px) {
     margin-left: 0;
    }
  }

  .data-publicacao {
    @media (max-width: 767px) {
      margin-left: 5px;
    }
  }

  .container-info-articles {
    margin-top: 10px;
  }

  .container-article-info {
    padding-left: 20px;
  }

  .article-body {
    margin-top: 10px;

    p {
      font-size: 20px;
      text-align: left;
    }
  }
}


.user-interaction {
  position: fixed;
  right: 70px;
  top: 30%;

  @media only screen and (max-width: 990px) {
      display: none;
  }
}

.user-interaction-actived {
  color: var(--niceBlue);
  pointer-events: none;
  transition: 0.1s;
}

.user-interaction-actived-on {
  color: var(--niceBlue);
  transition: 0.1s;
}

.user-interaction span:hover {
  color: var(--niceBlue);
  transition: 0.1s;
  cursor: pointer;
}

.user-interaction span:active {
  color: var(--dark);
}

.user-interaction span {
  transition: 0.1 ease-in-out;
  margin-bottom: 15px;
}

.user-interaction-values {
  vertical-align: 2px;
}
