#service {
    min-height: 900px;
    height: auto;
    overflow-x: hidden;
    background-color: var(--ice);

    .primary-highlight {
        background-image: url("../../assets/backgrounds/grid.jpg");
        background-size: cover;
        height: 820px;

        padding-top: 200px;
        color: var(--white);
        font-weight: bold;
        padding-left: 130px;

        @media only screen and (max-width: 1279px) {
            padding-left: 30px;
            padding-top: 100px;
            position: relative;
            height: auto;
            min-height: 500px;
            z-index: 1;
        }

        h1 {
            font-weight: bold;
            font-size: 48px;

            @media only screen and (max-width: 1279px) {
                font-size: 32px;
            }
        }

        h2 {
            @media only screen and (max-width: 1279px) {
                font-size: 24px;
            }
        }
    }

    .secondary-services {
        min-height: 500px;
        padding-bottom: 100px;

        h1 {
            text-align: center;
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }

    .third-services {
        background-color: white;
        min-height: 200px;
        padding-top: 90px;
        padding-bottom: 90px;
        position: relative;
        border-bottom: solid 2px var(--white);
        

        z-index: 5;
        // top: -100px;
        position: relative;

        p, svg {
            color: var(--white);
        }
    }

    .fourth-services {
        z-index: 5;
        position: relative;
        min-height: 740px;
        height: auto;
        background-color: var(--violet);
        border-top: solid 1px var(--white);
        padding-top: 86px;
        padding-bottom: 116px;
        margin-top: -100px;
       

        svg {
            font-size: 121px !important;
        }

        img {
            height: 450px;

            @media only screen and (max-width: 1279px) {
                width: 100%;
                height: auto;
            }
        }

        h1 {
            font-weight: bold;
            text-transform: uppercase;
            color: var(--white);
            font-size: 32px;

            @media only screen and (max-width: 1279px) {
                font-size: 22px;
            }
        }

        h4 {
            margin-top: 30px;
            color: var(--white);
        }

        p {
            font-size: 20px;
            padding-left: 300px;
            padding-right: 300px;
            margin-top: 40px;
            color: var(--white);

            @media only screen and (max-width: 1279px) {
                padding-left: 30px;
                padding-right: 30px;
                font-size: 16px;
            }
        }

        .pagamento-container {
            text-align: right;
            margin-top: 100px;
            padding-right: 30px;


           
        }
    }
}

.reveal-btn {
    color: var(--white);
    border: solid 1px var(--white);
    transition: 0.4s ease-out;
    background: transparent;
   
}

.reveal-btn:hover {
    color: var(--white);
    transition: 0.3s;
    font-weight: bold;
}

.reveal-btn:focus {
    outline: none;
}

.btn-large {
    width: 200px;
    height: 50px;

    @media only screen and (max-width: 1279px) {
        height: 40px;
    }
}
