<nav class="show-on-large-only" id="navDesktop">
    <div class="row">
      <div class="col-lg-2 column-a">
        <a routerLink="">Luã Falcão</a>
      </div>
      <div class="col-lg-6">
        <ul id="navbarItems">
          <li>
            <a routerLink="">Projetos
              <span class="glyphicon glyphicon-menu-down"></span>
            </a>
          </li>
          <li>
            <a routerLink="">Serviços
              <span class="glyphicon glyphicon-menu-down"></span>
            </a>
          </li>
          <li>
            <a routerLink="">Currículo</a>
          </li>
          <li>
            <a routerLink="">Artigos</a>
          </li>
          <li>
            <a routerLink="">Contato</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-4 column-b">             
          <i class="material-icons" (click)="mobileMenuService.showSearchContainer()">
              search
            </i>            
        <a routerLink="">Login</a> 
      </div>
    </div>
  </nav>
  
  <nav id="navMobile">
    <div class="row">
      <div class="col-sm-6 column-a">
        <a routerLink="">Luã Falcão</a>
      </div>
      <div class="col-sm-6 u-right" (click)="mobileMenuService.openCloseMobile()">
        <i class="material-icons small-menu-icon u-right">
          reorder
        </i>
      </div>
    </div>
    <div class="nav-mobile-items" id="navMobileItems">
      <div>
        <ul>
          <li>
            <a routerLink="">Projetos
              <i class="material-icons">keyboard_arrow_right</i>
            </a>
          </li>
          <li>
            <a routerLink="">Serviços
              <i class="material-icons">keyboard_arrow_right</i>
            </a>
          </li>
          <li>
            <a routerLink="">Currículo
              <i class="material-icons">keyboard_arrow_right</i>
            </a>
          </li>
          <li>
            <a routerLink="">Artigos
              <i class="material-icons">keyboard_arrow_right</i>
            </a>
          </li>
          <li>
            <a routerLink="">Contato
              <i class="material-icons">keyboard_arrow_right</i>
            </a>
          </li>
          <li (click)="mobileMenuService.openCloseMobile()">
            <a routerLink="">Voltar
              <i class="material-icons">keyboard_arrow_right</i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <app-search-field></app-search-field>