<header id="header">
  <nav class="show-on-large-only" id="navDesktop"  [ngStyle]="{'background-color' : backgroundColor }">
    <div class="row">
      <div class="col-lg-2 column-a">
        <a routerLink="/" class="lcode">Luã Falcão</a>
      </div>
      <div class="col-lg-6">
        <ul id="navbarItems">
          <li (mouseleave)="hideMenu('menuProjetos')" class="item-menu-principal">
            <a routerLink="" (mouseenter)="showMenu('menuProjetos')"
              [className]="isMenuProjectsOpen ? 'active-menu' : 'inative-menu'">Projetos
              <span class="glyphicon glyphicon-menu-down"></span>
            </a>
            <app-menu [menu]="menuProjetos" class="fadeOut" id="menuProjetos" (mouseenter)="showMenu('menuProjetos')"
              (mouseleave)="hideMenu('menuProjetos')" (selectItem)="onSelectItem($event)"></app-menu>
          </li>
          <li (mouseleave)="hideMenu('menuServicos')" class="item-menu-principal">
            <a routerLink="" (mouseenter)="showMenu('menuServicos')"
              [className]="isMenuServicesOpen ? 'active-menu' : 'inative-menu'">Serviços
              <span class="glyphicon glyphicon-menu-down"></span>
            </a>
            <app-menu [menu]="menuServicos" class="fadeOut" id="menuServicos" (mouseenter)="showMenu('menuServicos')"
              (mouseleave)="hideMenu('menuServicos')"  (selectItem)="onSelectItem($event)"></app-menu>
          </li>
          <li (mouseleave)="hideMenu('menuBlogs')" class="item-menu-principal">
            <a routerLink="" (mouseenter)="showMenu('menuBlogs')"
              [className]="isMenuBlogsOpen ? 'active-menu' : 'inative-menu'">Blogs
              <span class="glyphicon glyphicon-menu-down"></span>
            </a>
            <app-menu [menu]="menuBlogs" class="fadeOut" id="menuBlogs" (mouseenter)="showMenu('menuBlogs')"
              (mouseleave)="hideMenu('menuBlogs')" (selectItem)="onSelectItem($event)"></app-menu>
          </li>
          <li class="item-menu-principal">
            <a routerLink="/sobre">Sobre</a>
          </li>
          <li class="item-menu-principal">
            <a routerLink="" class="u-no-click">Contato</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-4 column-b">
        <!-- Pesquisar -->
        <i class="material-icons header-icon" (click)="openContainer()"  id="pesquisar">
          search
        </i>
        
        <!-- Canal do YouTube -->
        <i class="material-icons header-icon" 
          id="youTube">
          play_circle_outline
        </i>
       
        <!-- Seleção de Idiomas -->
        <i class="material-icons header-icon"
          id="idiomas">language</i>
       
        <!-- Login-->
        <a class="login" (click)="showLoginModal()" *ngIf="!loginService.isLogged()"
          [hidden]="!isUserIconsVisibile">Login</a>
        <a [className]="isMenuLoggedOpen ? 'active-menu' : 'inative-menu'" class="login u-border-none"
          *ngIf="loginService.isLogged()" 
          (click)="showLoggedMenu()" id="usuario"><i class="material-icons user" *ngIf="loginService.isLogged()" [class.active-white]="loginService.isLogged()"> person
          </i></a>
       
        <a class="all-articles-icon" [hidden]="isUserIconsVisibile" (click)="toogleArticlesMenu()">
          <span [class.btn-article-active]="menuService.isArticleMenuVisible">ver mais artigos</span>
        </a>
      </div>
    </div>
  </nav>




  <nav id="navMobile" [ngStyle]="{'background-color' : backgroundColorMobile}">
    <div class="row">
      <div class="col-sm-6 column-a hidden-candidated">
        <a class="lcode" routerLink="">Luã Falcão</a>
      </div>
      <div class="col-sm-6 u-right hidden-candidated" (click)="mobileMenuService.openCloseMobile()">
        <i class="material-icons small-menu-icon u-right sandwich-icon">
          reorder
        </i>
      </div>
    </div>
    <div class="nav-mobile-items" id="navMobileItems" [ngStyle]="{'background-color' : backgroundMobileContainer}">
      <div>
        <ul>
          <li>
            <a routerLink="/projetos/pessoais" class="u-no-click">Projetos
              <i class="material-icons">keyboard_arrow_right</i>
            </a>
          </li>
          <li>
            <a routerLink="/servicos/para-voce">Serviços
              <i class="material-icons">keyboard_arrow_right</i>
            </a>
          </li>
          <li (click)="mobileMenuService.openCloseMobile()">
            <a routerLink="/artigos" class="u-no-click">Artigos
              <i class="material-icons">keyboard_arrow_right</i>
            </a>
          </li>
          <li>
            <a routerLink="/sobre" class="u-no-click">Sobre
              <i class="material-icons">keyboard_arrow_right</i>
            </a>
          </li>
          <li>
            <a routerLink="" class="u-no-click">Contato
              <i class="material-icons">keyboard_arrow_right</i>
            </a>
          </li>
          <li (click)="mobileMenuService.openCloseMobile()">
            <a>Voltar
              <i class="material-icons">keyboard_arrow_right</i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <app-menu-logged></app-menu-logged>
  <app-login-modal></app-login-modal>
  <app-search-field></app-search-field>

</header>