$colors: (
  navbar-background: #25292d,
  navbar-link: rgba(255, 255, 255, 0.65),
  navbar-link-hovered: #fff,
  navbar-mobile-background: rgb(37, 41, 45),
  navbar-search-background: #1e1e23,
  navbar-search-border: #535659,
  _green: #00bc6e,
  _dark: #232326,
);

header {
  position: absolute;
  top: 0px;
  width: 100%;
  left: 0;
  z-index: 9000;
  transition: 0.6s ease-out;

  nav {
    padding-top: 26px;
    padding-left: 100px;

    @media only screen and (max-width: 1279px) {
      height: 65px;
      padding-left: 0;
      padding-right: 0;
      padding-top: 11px !important;
      padding-bottom: 8px;
    }

    ul {
      list-style-type: none;
      // margin-top: 4px;

      li {
        display: inline;
        padding-left: 18px;
        padding-right: 18px;
        font-size: 18px;
        display: inline-block;
        height: 50px;

        a,
        a:active {
          color: map-get($colors, navbar-link);
          transition: 0.25s ease-out;
          text-decoration: none;

          .material-icons {
            font-size: 21px;
            vertical-align: -6px;
          }
        }
        a:hover {
          color: map-get($colors, navbar-link-hovered);
          text-decoration: none;
          transition: 0.27s;
        }
      }
    }

    .column-a {
      a,
      a:active {
        color: map-get($colors, navbar-link-hovered);
        transition: 0.25s ease-out;
        text-decoration: none;
        float: left;
        margin-left: 30px;
        font-size: 28px;
        margin-top: -5px;
      }
      a:hover {
        color: map-get($colors, navbar-link);
        text-decoration: none;
        transition: 0.27s;
      }
    }

    .column-b {
      text-align: right;
      font-size: 18px;
      margin-top: -6px;
      margin-left: -100px;

      a,
      a:active {
        float: right;
        margin-right: 30px;
        color: map-get($colors, navbar-link);
        transition: 0.25s ease-out;
        text-decoration: none;
        margin-top: 4px;
      }

      a:hover {
        color: map-get($colors, navbar-link-hovered);
        text-decoration: none;
        transition: 0.27s;
      }

      i {
        z-index: 3;
        text-align: right;
        padding-right: 30px;
        margin-top: 7px;
        transition: 0.25 ease-out;
      }

      i:hover,
      .fa-youtube {
        cursor: pointer;
        transition: 0.24s;
      }

      .header-icon {
        transition: 0.27s;
        color: var(--silver);
      }

      .header-icon:hover {
        transition: 0.24s;
        color: var(--white);
        cursor: hover;
      }
    }

    .small-menu-icon {
      font-size: 32px;
      margin-top: -2px;
      margin-right: 10px;
      color: map-get($colors, navbar-link-hovered);

      @media only screen and (max-width: 1279px) {
        margin-top: -3px;
      }
    }
  }

  #navDesktop {
    @media only screen and (max-width: 1200px) {
      display: none;
    }

    .input-navbar {
      caret-color: map-get($colors, _green);
      color: map-get($colors, _green);
      transition: all 0.3s linear;
      background: none;
      border: none;
      color: map-get($colors, _green);
    }

    .input-navbar:focus {
      box-shadow: none;
    }
  }

  #navMobile {
    position: relative;
    width: 100%;
    @media (min-width: 1200px) {
      display: none;
    }

    .nav-mobile-items {
      //background: transparent;
      width: 100%;

      @media only screen and (orientation: landscape) {
        width: 100%;
      }

      position: fixed;
      right: -1200px;
      z-index: 4;
      top: 0;
      height: 100%;
      transition: 0.4s ease-in;
      overflow-y: auto;

      ul {
        padding: 0;

        li {
          display: block;
          padding-top: 30px;
          padding-bottom: 10px;
          padding-left: 30px;
          padding-right: 30px;
          font-size: 18px;
          padding-top: 20px;
          height: 70px;

          a {
            i {
              font-size: 28px;
              float: right;
            }
          }
        }

        li:hover,
        li:active {
          cursor: pointer;
          color: map-get($colors, _white);
          a {
            color: map-get($colors, navbar-link-hovered);
            i {
              color: map-get($colors, navbar-link-hovered);
            }
          }
        }
      }
    }
  }
}

a.login {
  //border: solid 1px var(--silver);
  padding: 2px 19px 5px 0px;
 // border-radius: 4px;
  margin-top: 4px !important;
  width: 84px;
  height: 31.6px;
}

i.user {
  margin-top: -5px !important;
  font-size: 36px;
}

.active-menu {
  color: var(--white) !important;
  transition: 0.27s;
}

.inative-menu {
  color: var(--silver) !important;
  transition: 0.25s ease-out;
}

.inative-menu:hover {
  transition: 0.24s ease-out;
  color: var(--white) !important;
}

.lcode {
  padding-top: 2px;
  font-weight: normal;
  text-transform: normal;
  margin-top: -10px;
  font-size: 30px;
  width: 200px;
}

#tooltipPesquisar {
  right: 330px;
  top: 70px;
  position: absolute;
}

#tooltipYouTube {
  right: 270px;
  top: 70px;
  position: absolute;
}

#tooltipIdiomas {
  right: 220px;
  top: 70px;
  position: absolute;
}

#tooltipUsuario {
  right: 140px;
  top: 70px;
  position: absolute;
}

.item-menu-principal span {
  cursor: pointer;

  .material-icons {
    vertical-align: -7px;
  }
}


