.lua-menu {
  position: absolute;
  border: solid 2px var(--white);
  width: 300px;
  height: 300px;
  border-radius: 4px;
  top: 40px;
  padding-top: 40px;
  background: var(--white);
}

#menuProjetos {
  left: 90px;
}

#menuServicos {
  left: 200px;
}

ul {
    list-style-type: none;
    margin-left: -10px;
}

