.lua-menu {
  position: absolute;
  border: solid 2px var(--white);
  width: 300px;
  height: 300px;
  border-radius: 4px;
  top: 40px;
  padding-top: 40px;
  background: var(--white);
}

#menuProjetos {
  left: 90px;
}

#menuServicos {
  left: 200px;
}

ul {
    list-style-type: none;
    margin-left: -10px;

    li {
      color: var(--dark);
      font-size: 14px;
      transition: .4s ease-out;
      height: 30px;
      margin-right: 25px;
    }

    li:hover {
      cursor: pointer;
      font-size: 16px;
      transition: .3s;
      color: var(--dark);
    }
}

