
.aside-container {
  background: var(--white);
  top: 500px;
  right: 0;
  height: auto;
  position: absolute;

  aside {
    .aside-category:first-child {
      margin-top: 0;
    }
    .aside-category {
      margin-top: 52px;
    }

    .aside-featured-items {
      list-style-type: none !important;
      .aside-featured-thumbnail {
        width: 120px;
        height: 80px;
      }

      h5 {
        font-size: var(--normal);
      }

      p {
        font-size: var(--small);
      }
    }


    min-height: 800px;
    padding: 40px;
    color: var(--dark);
    padding-top: 50px;
    padding-right: 20px;
    padding-left: 20px;

    h5.aside-title {
      font-size: 18px;
      border-bottom: solid 1px var(--cream);
      width: 255px;
      padding-bottom: 4px;
    }

    ul {
      padding-left: 0;
      li:first-child {
        margin-top: 15px;
      }

      li {
        list-style-type: circle;
        margin-left: 14px;
        margin-bottom: 10px;
        color: var(--niceGreen);
        font-size: 14px;
        transition: .5s ease-out;
      }
      li:hover {
        transition: .4s;
        color: var(--green);
        cursor: pointer;
      }
    }

    .form-control {
      width: 86%;
    }

    .form-control:focus {
      border: solid 1px var(--green);
    }

    button {
      width: 86%;
      margin-top: 15px;
      height: 30px;
      background: var(--niceGreen);
      color: var(--white);
      border: solid 1px var(--niceGreen);
      border-radius: 4px;
      transition: .5s ease-out;
      box-shadow: 1px 1px 6px var(--shadow);
    }

    button:hover {
      color: var(--green);
    }

    button:focus, button:active {
      outline: none;
    }
  }
}
