<div class="col-lg-3 aside-container hide-on-small-only ">
  <aside>
    <div class="aside-category">
      <h5 class="u-uppercase aside-title">Últimas Publicações</h5>
      <ul>
        <li *ngFor="let featured of featuredArticles" class="aside-featured-items">
          <div class="row">
            <div class="col-xs-6 u-padding-left-zero">
              <img [src]="featured.thumbnail" class="aside-featured-thumbnail" />
            </div>
            <div class="col-xs-6 u-padding-left-zero">
              <h5>{{ featured.titulo }}</h5>
              <p>{{ featured.dataPublicacao }}</p>
            </div>
          </div>
        </li>
      </ul>

    </div>

    <div class="aside-category">
      <h5 class="u-uppercase aside-title">Categorias</h5>
      <ul>
        <li>Design Patterns</li>
        <li>Carreira</li>
        <li>Tutoriais</li>
        <li>Dicionário de Problemas</li>
      </ul>
    </div>

    <div class="aside-category">
      <h5 class="u-uppercase aside-title">Newsletter</h5>
      <p>Se inscreva na nossa Newsletter para ficar por dentro quando um novo artigo for publicado</p>
      <form>
        <div class="form-group">
          <label for="email">Nome: </label>
          <input type="text" class="form-control" placeholder="insira seu nome aqui" />
        </div>

        <div class="form-group">
          <label for="email">E-mail: </label>
          <input type="text" class="form-control" placeholder="insira seu e-mail aqui" />

        </div>
        <button type="button">Enviar</button>
      </form>
    </div>
  </aside>
</div>
