<div class="row hide-modal" id="centeredModal">
    <div class="col-xs-12">
        <div class="centered-modal-container" (click)=hide()>
            <div class="centered-modal-content">
                <div class="row">
                    <div class="col-xs-10">
                        <h2>Login</h2>
                    </div>
                    <div class="col-xs-2 centered-modal-close" id="closeIconCenteredModal" (click)="hide()">
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>