section {
  width: 420px;
  height:auto;
  box-shadow: 5px 5px 5px var(--cream);
  padding: 30px;
  background: var(--white);
  margin-top: 50px;

  h3,
  h5 {
    font-weight: bold;
  }

  p {
    font-size: 13px;
  }

  button {
    width: 100px;
    height: 34px;
    padding-top: 6px;
    margin-top: 16px;
    background-color: var(--niceBlue);
    color: var(--blue);
    transition: 0.5s ease-out;
  }

  button:focus {
    outline: none;
  }

  button:hover {
    background-color: var(--blue);
    color: var(--white);
    transition: 0.4s;
  }

  .description-container {
    margin-top: 10px;
  }

  h5 {
    font-size: 14px;
    margin-top: 20px;
  }

  ul {
    margin-top: 20px;
    padding-left: 0;
    li {
      list-style-type: none;
    }
  }

  .description-category-container {
    color: var(--niceBlue);
    .description-category {
      font-weight: bold;
    }
  }

  .description-creator-container {
    color: var(--niceBlue);
    text-align: right;
    .description-creator {
      font-weight: bold;
    }
  }
}
