<div class="row count-container">
    <div class="col-lg-3">
        <i class="fas fa-hourglass-half"></i>
        <p class="count">{{ counts[0] }}</p>
        <p class="count-description">Anos de Experiência</p>
    </div>
    <div class="col-lg-3">
        <i class="fas fa-folder-open"></i>
        <p class="count">{{ counts[1] }}</p>
        <p class="count-description">Projetos Entregues</p>  
    </div>
    <div class="col-lg-3">
        <i class="fas fa-handshake"></i>
        <p class="count">{{ counts[2] }}</p>
        <p class="count-description">Empresas Atendidas</p>
    </div>
    <div class="col-lg-3">
        <i class="fas fa-users"></i>
        <p class="count">{{ counts[3] }}</p>
        <p class="count-description">Clientes</p>
    </div>
</div>