.count-container {
    text-align: center;
    
   

    svg {
        font-size: 60px; 
        color: var(--violet);
    }

    .count {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 30px;
        
    }

    .count-description {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 18px;
        color: var(--violet);
        font-weight: lighter;

    }
}
