<div id="page-container" *ngIf="!isUserUsingInternetExplorer">
    <div id="page-content">
        <router-outlet></router-outlet>
    </div>
</div>

<div class="row" *ngIf="isUserUsingInternetExplorer">
    <div class="col-xs-12">
        <section class="internet-explorer-friendly-message">
            <img src="assets/backgrounds/gandalf.png"><br />
        
            <div class="friendly-message-container">
                <strong>Este navegador não é permitido! </strong>
                <p>Melon! Por favor, use o <span class="u-bold">Google Chrome</span>, <span class="u-bold">Opera</span> ou <span class="u-bold">Mozila Firefox</span> para navegar nestes domínios. Obrigado!</p>
            </div>
        </section>
    </div>
</div>