<section *ngIf="!isUserUsingInternetExplorer">
  <app-header class="service-header" [backgroundColor]="backgroundHeader" [backgroundColorMobile]="backgroundMobile"
    [backgroundMobileContainer]="backgroundMobileContainer"></app-header>
  <router-outlet></router-outlet>
  <app-footer backgroundColor="black"></app-footer>
</section>

<section class="row" *ngIf="isUserUsingInternetExplorer">
  <div class="col-xs-12">
    <div class="internet-explorer-friendly-message">
      <img src="assets/backgrounds/gandalf.png"><br />
      <div class="friendly-message-container">
        <strong>Este navegador não é permitido! </strong>
        <p>Melon! Por favor, use o <span class="u-bold">Google Chrome</span>, <span class="u-bold">Opera</span> ou <span
            class="u-bold">Mozila Firefox</span> para navegar nestes domínios. Obrigado!</p>
      </div>
    </div>
  </div>
</section>
