<div id="menuLogged" class="fadeOut ">
    <div class="row">
        <div class="col-xs-12 u-center">
            <img src="assets/lua.jpg" class="menu-logged-thumbnail" />
            <h4>Luã Falcão</h4>
            <h5>Engenheiro de Software</h5>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <ul>
                <li (click)="navigateTo('panel')">Painel de Gerenciamento</li>
                <li (click)="logout()">Log out</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 version-note">
            <span class="u-center">Versão 1.0</span>
        </div>
    </div>
</div>

