#menuLogged {
  width: 400px;
  min-height: 500px;
  background-color: var(--white);
  box-shadow: 4px 4px 4px var(--shadow);
  color: var(--darking);
  top: 90px;
  border-radius: 4px;
  padding-top: 20px;
  position: fixed;
  right: 20px;
  z-index: 91;
}

h4 {
  font-weight: bold;
}

.menu-logged-thumbnail {
  border-radius: 50%;
  border: dashed 1px var(--dark);
  height: 110px;
  width: 110px;
  filter: grayscale(50%);
}

ul {
  list-style-type: none;
  margin-top: 20px;
  padding-left: 0;

  li {
    transition: 0.4s ease;
    text-align: center;
    height: 60px;
    padding-top: 18px;
    font-size: 16px;
  }

  li:hover {
    cursor: pointer;
    color: var(--white);
    background-color: var(--niceGreen);
    transition: 0.3s;
  }
}

.version-note {
  text-align: center;
  font-size: 13px;
  margin-top: 120px;
  position: relative;
  color: var(--niceGreen);
}

