<div class="row article-pagination-container">
  <div class="col-lg-8">
    <ul>
      <li (click)="whenClickPreviousPage()" *ngIf="leftArrowVisible"><i class="fas fa-chevron-left pagination-arrow"></i></li>
      <li *ngFor="let item of paginationNumbersRendered; let i = index" [id]="'elemento_' + item.page" class="pagination-number" [class.active]="item.active" (click)="whenClickPageNumber(elem.id)" #elem>
        {{ item.page }}</li>
      <li (click)="whenClickNextPage()" *ngIf="rightArrowVisible"><i class="fas fa-chevron-right pagination-arrow"></i></li>
    </ul>
  </div>
</div>
