#order {
    position: fixed;
    z-index: 10000;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
    top: 800px;
    left: 0;
    color: var(--white);
    padding: 20px 150px 20px 150px;
    overflow-y: auto;
    min-height: 670px;
    transition: 0.3s linear;

    @media (max-width: 797px) {
        padding-left: 20px;
        padding-right: 20px;
    }

    h2 {
        margin-bottom: 40px;

        @media (max-width: 797px) {
            font-size: 28px;
            padding-top: 13px;
        }
    }

    form {
        margin-bottom: 40px;
        label {
            display: block;
            font-weight: normal;
        }
        input,
        select,
        option,
        textarea {
            background: transparent;
            border-radius: 0;
            border: solid 1px var(--niceGreen);
            font-size: 16px;
            color: var(--green);
        }

        select,
        input {
            height: 43px;
        }

        input:focus,
        select:focus {
            border-color: var(--green);
        }

        textarea {
            height: 230px;
        }

        button {
            height: 50px;
            width: 370px;
            color: var(--white);
            transition: 0.4s ease-out;
            background: var(--niceGreen);
            padding-top: 12px;
            font-size: 18px;
            margin-top: 20px;
            margin-bottom: 20px;

            @media only screen and (max-width: 767px) {
                width: 100%;
                margin-bottom: 120px;
            }
        }

        button:hover {
            color: var(--green);
            transition: 0.3s;
        }

        button:focus {
            outline: none;
        }
    }

    ul {
        list-style-type: none;
        margin-top: -26px;
        height: 76px;
        overflow: auto;
        padding-left: 0;

        li {
            color: var(--green);
            font-weight: 500;
            width: 300px;
            background-color: var(--niceGreen);
            margin: 4px 0px 4px 0px;
            border-radius: 7px;
            padding-left: 10px;
            padding-right: 10px;

            @media (max-width: 767px) {
                width: 100%;
            }
        }
    }
}

::placeholder {
    color: var(--green);
    font-weight: normal;
}

.animando {
    top: 0 !important;
    position: fixed;
    transition: 0.5s;
}

.close-icon {
    font-size: 31px;
    transition: 0.3s ease-out;
    float: right;

    @media (max-width: 797px) {
        margin-top: -116px;
        position: relative;
        right: -16px;
    }
}

.close-icon:hover {
    transition: 0.2s;
    font-size: 38px;
    color: var(--green);
}

.col-lg-6 {
    @media (max-width: 767px) {
        padding-right: 0;
    }
}

.attachment {
    font-size: 14px;
    color: var(--green);
    margin-top: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.attachment:hover {
    transition: 0.4s;
    color: var(--white);
}

.attachment:active {
    transition: 0.4s;
    color: var(--green);
}

.attachment-text {
    color: var(--green);
}

.attachments-qtd {
    color: var(--green);
    float: right;
}

.remove-file-container {
    float: right;
    margin-top: 70px;
}
.remove-file-icon {
    color: var(--green);

    cursor: pointer;
    transition: 0.5s ease-out;
}

.remove-file-icon:hover {
    color: var(--white);
}

a:hover {
    text-decoration: none;
}

.icon-close-remove {
    font-size: 16px;
    font-weight: bold;
    vertical-align: -4px;
    padding-left: 10px;
    padding-top: 1px;
    color: var(--white);
    float: right;
    transition: 0.5s ease-out;
}

.icon-close-remove:hover {
    color: var(--green);
    transition: 0.4s;
}

.validation-file-container {
    position: absolute;
    margin-top: -5px;
    left: 230px;

    span {
        color: red;
    }

    @media (max-width: 767px) {
        float: right;
        margin-top: 20px;
        margin-bottom: 20px;
        position: static;
    }
}
