.main-section {
  min-height: 800px;

  .blog-title-container {
    height: 300px;
    padding-bottom: 100px;
    padding-top: 100px;
    text-align: center;
    color: var(--white);
    background-color: var(--dark);

    h1 {
      font-size: 72px;
      text-transform: uppercase;
    }
  }

  header {
    // background-image: url('../../../assets/backgrounds/blogs/next-gameplay/capa.jpeg');
    background-color: blue;
    background-size: cover;
    height: 515px;
    font-weight: bold;
    background-position: center;
    position: relative;
    z-index: 1;

    @media only screen and (max-width: 1279px) {
      height: 508px;
      background-position-y: -300px;
      background-position: center;
    }
    div {
      top: 185px;
      color: var(--white);
      text-align: center;

      @media only screen and (max-width: 1279px) {
        top: 140px;
      }

      h1 {
        margin-bottom: 40px;
        font-weight: bold;

        @media only screen and (max-width: 1279px) {
          font-size: 36px;
          margin-bottom: 60px;
        }
      }

      svg {
        font-size: 52px;
        transition: 0.6s ease-out;
        @media only screen and (max-width: 1279px) {
          font-size: 34px;
        }
      }

      svg:hover {
        transition: 0.5s;
        transform: scale(1.2);
      }
    }
  }
}

.article-area {
  min-height: 700px;
  background: var(--white);
  position: relative;
  z-index: 2;
  top: -114px;
  margin-left: 140px;
  margin-right: 140px;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 26px;
  margin-top: 80px;

  @media only screen and (max-width: 1279px) {
    margin-left: 0;
    margin-right: 0;
  }

  .article-title-group {
    text-align: left;
    margin-top: 40px;
  }

  .article-interaction {
    margin-top: 30px;

    .article-interaction-group {
      span, svg, i {
        font-size: var(--big);
      }

    }
  }

  .article-content {
    margin-top: 40px;
    font-size: var(--big);

    img {
      width: 100%;
      margin-bottom: 30px;
    }
  }
}
