<section class="main-section">

    <header></header>


  <div class="article-area">
    <div class="article-title-group">
      <h4>{{ articleDetails.dataPublicacao }}</h4>
      <h1 class="almost-giant-size u-bold">{{ articleDetails.titulo }}</h1>
    </div>
    <div class="row article-interaction">
      <div class="col-xs-12">
        <div class="article-interaction-group">
          <i class="fas fa-comment"></i> &nbsp;
          <span>30</span>

          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

          <i class="fas fa-eye"></i>&nbsp;
          <span>1540</span>

          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

          <i class="fas fa-thumbs-up"></i>&nbsp;
          <span>25</span>
        </div>

      </div>
    </div>
    <div class="row article-content">
      <div class="col-xs-12">
        <img [src]="articleDetails.thumbnail" />
        <div [innerHTML]="articleDetails.descricao"></div>
      </div>
    </div>
  </div>
  <article-comment-list></article-comment-list>
  <article-comment></article-comment>
</section>

<page-loading class="page-loading"></page-loading>
