.timeline-descriptions-group {
    padding-left: 50px;
    padding-right: 50px;
}

.timeline-description {
    font-size: 16px;
}

.title-timeline {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 22px;
}

.timeline-circle {
    text-align: center;
}

.timeline-year-container {
    padding: 30px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: solid 16px var(--cream);
    border-right: solid 16px var(--niceGray);
    border-bottom: solid 16px var(--niceGray);
    text-align: center;
   
    margin: 0 auto;
}


.timeline-year {
    vertical-align: -40px;
    font-weight: bold;
    font-size: 16px;
}

.timeline-scarface {
    width: 10px;
    height: 200px;
    background-color: var(--niceGray);
    margin: 0 auto;
}

.image-timeline {
    filter: grayscale(100%);
    width: auto;
}

