body {
  background-color: var(--ice);
}
section#project {
  .highlight {
    height: auto;
    margin-top: -92px;
    background-color: var(--dark);
    background-size: cover;

    @media only screen and (max-width: 1279px) {
      margin-top: 50px;
    }
  }

  h1 {
    padding-left: 200px;
    top: 250px;
    position: relative;
    color: var(--white);
    font-variant: small-caps;

    @media only screen and (max-width: 767px) {
      padding-left: 0;
      text-align: center;
    }
  }

  .project-card-container {
    background-color: var(--ice);
    height: auto;
    margin: 0 auto;
    margin-top: -10px;
    padding-bottom: 50px;
  }
}

video {
  width: 100%;
  height: auto;
  border-bottom: solid 4px var(--blueFlat);
  position: relative;
  z-index: 3;
}

.above-video {
  position: relative;
  top: -220px;
  padding-right: 87px;

  h1 {
    float: right;
    color: white;
  }
}

@media only screen and (max-width: 1279px) {
  .writer-position, 
  .writer-carregando {
    display: none;
  }
}

.writer-projetos {
  top: 580px;
  position: relative;
  z-index: 5;
  float: right;
  right: 114px;
}

.writer-carregando   {
  top: 150px;
  position: relative;
  z-index: 4; 

}
