body {
  background-color: var(--ice);
}
section#project {
  .highlight {
    margin-top: -10px;

    @media only screen and (max-width: 767px) {
      margin-top: 80px;
    }
  }

  .project-card-container {
    background-color: var(--ice);
    height: auto;
    margin: 0 auto;
    margin-top: -10px;
    padding-bottom: 50px;
  }
}

video {
  height: auto;
  width: 100%;
  border-bottom: solid 4px var(--blueFlat);
}

.above-video {
  position: relative;
  top: -220px;
  padding-right: 87px;

  h1 {
    float: right;
    color: white;
  
  }
}
