<section class="main-section">
  <header class="row comments-header">
    <div class="col-lg-4 silver-line hide-on-small-only "></div>
    <div class="col-lg-4 comments-number-container">
      <span>{{ comentarios.length }}</span>&nbsp;
      <span *ngIf="comentarios.length != 1">Comentários</span>
      <span *ngIf="comentarios.length == 1">Comentário</span>
    </div>
    <div class="col-lg-4 silver-line hide-on-small-only "></div>
  </header>

  <div class="comments-list-container">
    <ul>
      <li class="silver-line" *ngFor="let comentario of comentarios">
        <div class="row">
          <div class="col-xs-3 user-avatar">
            <i class="fas fa-user"></i>
          </div>
          <div class="col-md-9">
            <h4>{{ comentario.autor }}</h4>
            <span>{{ comentario.dataPublicacao }}</span>
            <p>{{ comentario.descricao }}</p>
          </div>
        </div>
      <li>      
    </ul>
  </div>
</section>
