<section class="main-section">
  <header class="row comments-header">
    <div class="col-lg-4 silver-line hide-on-small-only "></div>
    <div class="col-lg-4 comments-number-container">
      <span>10</span>&nbsp;
      <span>Comentários</span>
    </div>
    <div class="col-lg-4 silver-line hide-on-small-only "></div>
  </header>

  <div class="comments-list-container">
    <ul>
      <li>
        <div class="row">
          <div class="col-xs-3 user-avatar">
            <i class="fas fa-user"></i>
          </div>
          <div class="col-md-9">
            <h4>Luã Falcão</h4>
            <span>10 de outubro de 2020</span>
            <p>Oi! Adorei o artigo! Muito bom!</p>
          </div>
        </div>
      <li>
      <li>
        <div class="row">
          <div class="col-md-3 user-avatar">
            <i class="fas fa-user"></i>
          </div>
          <div class="col-md-9">
            <div>
              <h4>Cynthia Weever</h4>
              <span>8 de outubro de 2020</span>
              <p>Never go out in the dark without a light!</p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
