<section id="searchFieldContainer" class="fadeOut">
    <div class="row">
        <div class="col-xs-12">
            <form>
                <div class="form-group">
                    <i class="material-icons seach-field-close-icon" (click)="closeContainer()">clear </i>
                    <label for="pesquisar">Pesquisar em luafalcao.com</label>
                    <input type="text" class="form-control"  id="searchField" name="searchField" [(ngModel)]="searchField" placeholder="Pesquise por um artigo, serviço, projeto ou meios de contato." />
                    <button type="button" class="u-uppercase" [hidden]="!(searchField.length > 0)">Pesquisar</button>
                </div>
            </form>
        </div>
    </div>
</section>