#searchFieldContainer {
  position: fixed;
  z-index: 1000;
  background: var(--dark);
  width: 100%;
  padding: 200px;
  padding-top: 240px;
  transition: .5s ease-out;
  z-index: 9999;
  top: 0;
  margin-top: 0;
  height: 100%;

  form {
    label {
      color: var(--white);
      font-size: 14px;
      font-weight: normal;
    }

    .seach-field-close-icon {
        color: var(--white);
        font-size: 18px;
        float: right;
        margin-top: -40px;
        font-size: 30px;
        transition: .2s ease-out;
    }

    .seach-field-close-icon:hover {
        transition: .3s;
        font-size: 38px;
        cursor: pointer;
        color: var(--niceGreen);
    }

    .seach-field-close-icon:active {
        color: var(--white);
    }

    input {
      background: none;
      height: 60px;
      border-radius: 0;
      border-color: var(--niceGreen);
      font-size: 24px;
      color: var(--white);
      font-weight: bold;
      
    }

    button {
      margin-top: -40px;
      position: relative;
      float: right;
      margin-right: 10px;
      border: none;
      background: none;
      color: var(--niceGreen);
      font-size: 12px;
      transition: .25s ease-out;
    }

    button:hover {
        transition: .27;
        color: var(--white);
    }

    button:active {
        color: var(--niceGreen);
        transition: .27;
    }

    button:focus {
        outline: 0;
    }
  }
}
