.blink {
    color: #1E3FD3;
    font-weight: lighter;
    font-size: 40px;

    animation: 1s blink step-end infinite;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
}


@keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: var(--blinkCursor);
    }
}

@-webkit-keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: var(--blinkCursor);
    }
}

@-moz-keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: var(--blinkCursor);
    }
}

@-o-keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: var(--blinkCursor);
    }
}

@-ms-keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: var(--blinkCursor);
    }
}


