:root {
    --white: #fff;
    --blue: #1074e7;
    --niceGreen: #00e59b;
    --niceBlue: #66afe9;
    --green: #00bc6e;
    --dark: #000;
    --silver: rgba(255, 255, 255, 0.65);
    --darkGray: #25292d;
    --shadow: rgba(0, 0, 0, 0.5);
}


body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  height: 100%;
}

a:hover,
button:hover,
i:hover {
  cursor: pointer;
}

a {
  color: var(--dark);
}

.main-container {
  overflow-x: hidden;
}

/* Helpers */
.u-center {
  text-align: center;
}
.u-right {
  float: right;
}

.u-left {
  float: left;
}

.u-uppercase {
  text-transform: uppercase;
}

.u-hide {
  display: none;
}

.u-normal {
  font-weight: normal;
}

.u-white {
  color: var(--white);
}

.u-padding-zero {
  padding: 0;
}

/* modal */
.fadeIn {
  opacity: 1;
  transition: 0.3s linear;
}

.fadeInTransparent {
  opacity: 0.4;
  transition: 0.3s linear;
}

.fadeOut {
  opacity: 0;
  pointer-events: none;
  transition: 0.3s linear;
}


