$colors : (
    _white: #fff,
    _blue: #1074e7,
);

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}


a:hover, button:hover, i:hover {
   // cursor: url(http://cur.cursors-4u.net/games/gam-4/gam372.cur), auto !important
   cursor: pointer;
}

.main-container {
    overflow-x: hidden;
}

/* Helpers */
.u-right {
    float: right;
}

.u-left {
    float: left;
}

.u-uppercase {
    text-transform: uppercase;
}

.u-hide {
    display: none;
}

.u-normal {
    font-weight: normal;
}

.u-white {
    color: map-get($colors, _white);
}

.u-padding-zero {
    padding: 0;
}

/* modal */
.fadeIn {
    opacity: 1;
    transition: .3s linear;
}

.fadeInTransparent {
    opacity: 0.4;
    transition: .3s linear;
}

.fadeOut {
    opacity: 0;
    pointer-events: none;
    transition: .3s linear;
}
