<div class="row" id="techs">
    <div class="col-md-4 techs-group">
        <a href="https://angular.io/" target="_blank"><i class="fab fa-angular"></i></a>
        <p>
            Com o poderoso Angular Framework da Google consigo desenvolver em cima de uma estrutura robusta
             novas aplicações web que rodam em plataformas desktops e mobile.
        </p>
    </div>

    <div class="col-md-4 techs-group">
        <a href="https://dotnet.microsoft.com/" target="_blank"><i class="fab fa-windows"></i></a>
        <p>A plataforma .NET e a linguagem C# me permitem criar Web APIs e outras aplicações com banco de dados para
            oferecer diferentes funcionalidades que atendam as necessidades dos usuários. </p>
    </div>

    <div class="col-md-4 techs-group">
        <a href=" https://git-scm.com/" target="_blank"> <i class="fab fa-git-alt"></i></a>
        <p>Usando o GIT como controle de versão faço entregas de uma maneira eficiente e prática deixando o código fonte da
            aplicação disponível para o próximo passo do ciclo do pipeline.</p>
    </div>
</div>