<app-header></app-header>
<section id="home">
  <div class="row hidden-candidated">
    <div class="col-xs-12 servicos">
      <h2 class="u-center u-uppercase" [ngStyle]="{'font-size' : h2Size}">Serviços</h2>
      <div class="writer-container">
        <writer [color]='colorWriter' [titulos]="titulos" [fontSize]="h1Size"></writer>
      </div>
    </div>
  </div>
  <video loop muted onloadedmetadata="this.muted = true" oncanplay="this.play()"  id="video">
    <source src="assets/video/video.mp4" type="video/mp4">
  </video>
</section>
<footer class="footer hidden-candidated">
  <div class="row">
    <div class="col-xs-12">
      <span  (click)="open('https://www.linkedin.com/in/luafalcao/')" class="u-white"><i class="fab fa-linkedin-in icon"></i></span>
      <!-- <span class="u-white">&copy;  {{ currentYear }}  Todos os direitos reservados - Luã Falcão</span> -->
    </div>
  </div>
</footer>