section {
    width: 100%;
    cursor: pointer;

    .servicos {
        padding-top: 140px;
        @media only screen and (max-width: 1279px) and (orientation: portrait){
            padding-top: 156px;
        }

        @media only screen and (max-width: 767px) and (orientation: landscape){
            padding-top: 109px;
        }
        
        h2 {
            z-index: 6;
            font-size: 28px;
            position: relative;
            color: var(--white);
        }

        .writer-container {
            position: relative;
        }
    }

    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: fixed;
        z-index: 5;
        top: 0;
    }
}
