<section class="main-section">
  <header class="row comments-header">
    <div class="col-lg-4 silver-line hide-on-small-only "></div>
    <div class="col-lg-4 comments-container">
      <span>Escreva um Comentário</span>
    </div>
    <div class="col-lg-4 silver-line hide-on-small-only "></div>
  </header>

  <div>
    <form>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <input type="text" placeholder="Nome" class="form-control" />
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <input type="text" placeholder="E-mail" class="form-control" />
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <input type="text" placeholder="Website" class="form-control" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <textarea  placeholder="Escreva o seu comentário aqui." class="form-control"></textarea>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <button class="button-alpha button-normal">enviar</button>
        </div>
      </div>
    </form>
  </div>
</section>
