<footer [ngStyle]="{'background-color' : backgroundColor}">
  <div class="row ">
    <div class="col-lg-12 bb footer-container-links">
      <div class="row">
        <div class="col-lg-2 footer-luafalcao">
          <span>Luã Falcão</span>
          <div class="footer-luafalcao-socialIcons">
            <button type="button" (click)="openUrl('https://github.com/luafalcaocode')"><i class="fab fa-github-square"></i></button>
            <button type="button" (click)="openUrl('https://linkedin.com/in/luafalcao')"><i class="fab fa-linkedin"></i></button>
          </div>
        </div>
        <div class="col-lg-10 bb">
          <div class="row">
            <div class="col-lg-3">
              <p>Serviços</p>
              <ul>
                <li *ngFor="let link of link.servicos">
                  <a [routerLink]="link.url">{{ link.description }}</a>
                </li>
              </ul>
            </div>
            <div class="col-lg-3">
              <p>Artigos</p>
              <ul>
                <li></li>
              </ul>
            </div>
            <div class="col-lg-3">
              <p>Projetos</p>
              <ul>
                <li></li>
              </ul>
            </div>
            <div class="col-lg-3">
              <p>Sobre</p>
              <ul>
                <li *ngFor="let link of link.sobre">
                  <a [routerLink]="link.url">{{ link.description }}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="row footer-container-pagamentos">
    <div class="col-lg-12">
      <div class="footer-pagamentos">
        <p>Formas de pagamento:</p>
      <i class="fab fa-paypal"></i>
      </div>
    </div>
  </div> -->


</footer>
