<footer>
    <div class="row footer-headers">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <h2 class="u-normal u-white">Luã Falcão</h2>
                    <p>Seja bem-vindo à minha jornada para <br />me tornar um profissional de elite!</p>
                </div>
                <div class="col-md-4 col-xs-12 footer-sections">
                    <h4 class="u-white">Contato:</h4>
                    <ul class="u-padding-zero">
                        <li><i class="far fa-envelope"></i>&nbsp; {{ email }}</li>
                        <li><i class="fab fa-whatsapp"></i>&nbsp; {{ telefone }}</li>
                    </ul>
                </div>
                <div class="col-md-4 col-xs-12 footer-sections">
                    <h4 class="u-white">Veja Também:</h4>
                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <ul class="u-padding-zero u-pointer links-rodape">
                                <li>Projetos</li>
                                <li>Tutoriais</li>
                                <li>Canal no You Tube</li>
                            </ul>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <ul class="u-padding-zero u-pointer">
                                <li>Dicas de Programação</li>
                                <li>Sobre</li>
                                <li>Currículo</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row social-icon-container">
        <div class="col-md-12 col-lg-4">
            <a href="https://linkedin.com/in/luafalcao" target="_blank"><i
                    class="fab fa-linkedin social-icon"></i></a>&nbsp;&nbsp;&nbsp;
        </div>

        <div class="col-lg-4 u-padding-left-zero">
            <img class="pagamento" src="assets/pagamentos/paypal.jpg" /> &nbsp;
        </div>

    </div>

    <div class="row copyright-container">
        <div class="col-md-12">
            <p class="u-white">&copy; Luã Falcão {{  currentYear  }} - Todos os direitos reservados</p>
        </div>
    </div>
</footer>