<app-header></app-header>
<div id="panel">
    <div class="row">
        <div class="col-md-3">
            <h3>Painel de Gerenciamento</h3>
            <ul>
                <li>
                    <div class="row">
                        <div class="col-xs-9"><span>Home</span></div>
                        <div class="col-xs-2"><i class="material-icons arrow-icon u-padding-left-zero">keyboard_arrow_right</i></div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="col-xs-9"><span>Projetos</span></div>
                        <div class="col-xs-2"><i class="material-icons arrow-icon u-padding-left-zero">keyboard_arrow_right</i></div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="col-xs-9"><span>Serviços</span></div>
                        <div class="col-xs-2"><i class="material-icons arrow-icon u-padding-left-zero">keyboard_arrow_right</i></div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="col-xs-9"><span>Artigos</span></div>
                        <div class="col-xs-2"><i class="material-icons arrow-icon u-padding-left-zero">keyboard_arrow_right</i></div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="col-xs-9"><span>Sobre</span></div>
                        <div class="col-xs-2"><i class="material-icons arrow-icon u-padding-left-zero">keyboard_arrow_right</i></div>
                    </div>
                </li> 
                <li>
                    <div class="row">
                        <div class="col-xs-9"><span>Contato</span></div>
                        <div class="col-xs-2"><i class="material-icons arrow-icon u-padding-left-zero">keyboard_arrow_right</i></div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-9">
            
        </div>
    </div>
</div>
<app-footer></app-footer>