<section id="darkPlace">
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <h1 class="u-normal">Você quer construir <br /> algo incrível?</h1>
            <p class="u-lighter">
                Conte-me um pouco do problema que você precisa resolver. De repente
                conseguimos encontrar uma solução adequada para a sua necessidade.
            </p>
        </div>

        <div class="col-md-6 col-xs-12">
            <form>
                <div class="form-group">
                    <label>Nome: </label><br />
                    <input type="text" class="form-control" placeholder="qual é o seu nome?"
                        [(ngModel)]="modelForm.name" name="name" />
                </div>

                <div class="form-group">
                    <label>E-mail: </label><br />
                    <input type="text" class="form-control" placeholder="informe um e-mail para contato"
                        [(ngModel)]="modelForm.email" name="email" />
                </div>

                <div class="form-group">
                    <label>Mensagem: </label><br />
                    <textarea class="form-control" placeholder="do que você precisa?" [(ngModel)]="modelForm.message"
                        name="mensagem"></textarea>
                </div>

                <div class="form-group u-center">
                    <button type="button" class="btn" (click)="sendMessage()">
                        <mini-loading *ngIf="isLoading"></mini-loading>
                        <span *ngIf="isSendTextVisible">Enviar</span>
                        <span class="material-icons" *ngIf="isCompleted">done</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>