<div class="user-interaction">
    <div class="list-group-icons">
        <div class="user-interaction-icon">
            <span id="talesLikeIcon" class="glyphicon glyphicon-thumbs-up" data-toggle="tooltip" title="Curtir" (click)="onClick_like()"></span>
            &nbsp;
            <span class="interaction-count">{{ numberOfLikes }}</span> &nbsp;
        </div>
        <div class="user-interaction-icon">
            <span id="commentsIcon" (click)="scrollToElement('scrollToThere')"
                class="glyphicon glyphicon-comment user-interaction-icon" data-toggle="tooltip" title="Comentar"></span>
            &nbsp;
            <span class="interaction-count">{{ numberOfComments }}</span>
        </div>
    </div>
</div>